/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}

h1 {
  color: #06365f;
}

.top {
  height: 400px;
  background-image: url(../img/bgtile.png);
  background-repeat: repeat-x;
}

.grey {
  background-image: url(../img/frame.png);

}

#logo {
  padding: 150px;
}

.middle {
  width: 25%;
}